
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title text-uppercase">Calculation Parameters</h4>
        </div>
        <div class="card-body">
            Lahmacun
        </div>
    </div>
    <br />
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title text-uppercase">Complexity</h4>
        </div>
        <div class="card-body">

        </div>
    </div> 
    <br />
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title text-uppercase">Duplications</h4>
        </div>
        <div class="card-body">

        </div>
    </div>
    <br />
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title text-uppercase">Maintainability</h4>
        </div>
        <div class="card-body">

        </div>
    </div> 
    <br />
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title text-uppercase">Reliability</h4>
        </div>
        <div class="card-body">

        </div>
    </div> 
    <br />
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title text-uppercase">Security</h4>
        </div>
        <div class="card-body">

        </div>
    </div>  
    <br />
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title text-uppercase">Size</h4>
        </div>
        <div class="card-body">

        </div>
    </div> 
    <br />
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title text-uppercase">Tests</h4>
        </div>
        <div class="card-body">

        </div>
    </div>

</div>
